footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
    width: 150px;
    height: 150px;
    
}
p{
    display: block;
}
.footerSection{
    display: flex;
    flex-wrap: wrap;
    /* background-color: gray; */
}
.foodName{
    color: blue;
}
.foodPrice{
    color: aqua;
}